<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <% if(kindofDay==="Tuesday" ) { %>
        <h1 style="color: yellow">
            it is <%=kindofDay %> todo list
        </h1>
        <% } else { %>
            <h1 style="color:blanchedalmond">
                <%= kindofDay%> todo list
            </h1>
            <%}%>



</body>

</html>